quoted printable format and double dots (non 8BITMIME)

mini-smtp-server doens't seems to be fully compliant with SMTP standard RFC 5321, section 4.5.2

http://tools.ietf.org/html/rfc5321#section-4.5.2

>    To allow all user composed text to be transmitted transparently, the following procedures are used:
> 
>       * Before sending a line of mail text, the SMTP client checks the first character of
>         the line. If it is a period, one additional period is inserted at the beginning of the line.
>       * When a line of mail text is received by the SMTP server, it checks the line. If the line
>         is composed of a single period, it is treated as the end of mail indicator. If the first
>         character is a period and there are other characters on the line, the first character
>         is deleted.

So when receiving a mail in the `quoted printable` format, for all lines, when the first character is a dot it should be removed.

This has first been raised in https://github.com/bcosca/fatfree-core/issues/328#L189

This project is no longer under active development and is no longer maintained. Please see MIDI SMTP Server for a possible replacement: https://github.com/4commerce-technologies-AG/midi-smtp-server

> This project is no longer under active development and is no longer maintained. 

Why don't you archive the project?

Thanks for the suggestion about midi-smtp-server, I've already found the link in your readme and migrated to it.

Bests